<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Barraza Jesús - Descarga</title>
        <link rel="stylesheet" href="download.css">
    </head>
    <body>
        <main class="card">
            <h1>Centro de Descargas</h1>
            <p class="lead">Haz clic en los botones para obtener tus archivos PDF.</p>

            <section class="buttons">
                <a class="btn primary" href="../Docs/comandos.pdf" download="Comandos.pdf">COMANDOS BÁSICOS DE REACT</a>
                <a class="btn green" href="../Docs/ieee.pdf" download="IEEE.pdf">ISO / ESTÁNDAR IEEE</a>
                <a class="btn dark" href="../Docs/Funcionales vs no funcionales.docx" download="Funcionales.docx">REQUERIMIENTOS FUNCIONALES Y NO FUNCIONALES</a>
                <a class="btn dark" href="../Acts/Act2/codigo.py" download="ArchivoSHA.py">CÓDIGO PYTHON ALGORITMO SHA-256</a>
                <a class="btn dark" href="/">REGRESAR AL PROYECTO PRINCIPAL</a>
            </section>
        </main>
    </body>
</html>