.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  width: 40vmin;
  pointer-events: auto;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* use transform + transition for smooth hover in/out */
    transition: transform 200ms ease-out;
  }

  .App-logo:hover {
    transform: scale(1.2);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes grow {
  from {
    transform:scale(1.0);
  }
  to {
    transform:scale(1.2);
  }
}
